@tailwind base;
@tailwind components;
@tailwind utilities;


#root {
    font-family: Poppins, sans-serif;
    display: flex;
    width: 100vw;
    height: 100vh;
    overflow: hidden;
    position: relative;
    transition: all 0.3s ease-in-out;
}

.dark {
    background-color: #161b22;
}

.dark div {
    border-color: #30363d;
}

.dark .hover {
    box-shadow: none;
}

.dark h1, .dark h3, .dark svg, .dark input, .dark b {
    color: rgba(255, 255, 255, 0.9);
    font-weight: normal;
}

.dark button {
    background-color: #2b3a50;
}

.colors {
    margin: 20px 0;
}

.colors li {
    margin: 10px 0;
    cursor: pointer;
    padding: 1rem;
    aspect-ratio: 1;
    height: 34px;
    border-radius: 100%;
}

.hover {
    box-shadow: 1px 1px 10px 1px #d3d3d3;
}

.hover:hover {
    transform: scale(1.05);
    transition: all 0.3s ease-in-out;
}

/* Scroll Bar CSS */
html {
    overflow-y: overlay;
    overflow-x: hidden;
}

::-webkit-scrollbar {
    width: 4px;
}

/* Track */
::-webkit-scrollbar-track {
    background: transparent;
}

/* Handle */
::-webkit-scrollbar-thumb {
    background: #888;
    border-radius: 4px;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
    background: #555;
}
/* Scroll Bar CSS END */

.actions-bar li {
    margin: 0 2px 20px;
}
.actions-bar button > svg {
    stroke: black;
}
.actions-bar button {
    background-color: transparent;
}

.note-body {
    display: -webkit-box;
    -webkit-line-clamp: 6;
    -webkit-box-orient: vertical;
    overflow: hidden;
    color: rgba(0,0,0,0.8);
}
.actions-bar {
    box-shadow: 0 0 10px 0 rgb(0 0 0 / 0.25);
    background-color: aliceblue;
}

.notification {
    padding: 16px 24px;
    border-radius: 32px;
    font-weight: 600;
    width: 100%;
    color: rgba(0,0,0,0.7);
    background-color: aliceblue;
    box-shadow: 0 0 10px 0 rgb(0 0 0 / 0.25);
}